<section class="content">
  
<h3>Hi, I'm Scott</h3>
<p>After practicing law for 7 years, I decided I wanted to build web applications full-time. I enrolled in <a href="http://codeacademy.org">Code Academy</a>, built <a href="http://www.warroomlaw.com">WarRoom</a>, and co-founded <a href="http://launchpadlab.com">LaunchPad Lab</a>, a web development company.</p>

<h3>Where to Find Me</h3>
<p>You can find me on <a href="http://twitter.com/scottweisman">twitter</a> or <a href="http://facebook.com/scottweisman">facebook</a>, or send me an email me at <a href="mailto:sweisman18@gmail.com">scott@launchpadlab.com</a>.</p>
  
</section>