<section class="content">
  
<h3>Hi, I'm Scott</h3>
<p>After practicing law for 7 years, I decided I wanted to build web applications. I taught myself some programming basics and I'm currently enrolled in <a href="http://codeacademy.org">Code Academy</a>. I'm working on building web applications for lawyers and humans.</p>

<h3>Where to Find Me</h3>
<p>You can find me on <a href="http://twitter.com/scottweisman">twitter</a> or <a href="http://facebook.com/scottweisman">facebook</a>, or send me an email me at <a href="mailto:sweisman18@gmail.com">sweisman18@gmail.com</a>.</p>
  
</section>