.container {width: 620px;margin: 0 auto;}
.navbar-fixed-top .container,.navbar-fixed-bottom .container{width:620px;}

body {
	background: #F1F1F1;
	padding-top: 80px;
	padding-bottom: 40px;
}

h1 {
	font-size:24px;
}

p {
	font: 300 16px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: black;
}

img {
	width: 580px;
	padding: 20px;
}

code, pre, pre.prettyprint, .well, .form-actions {
	background-color: #FFFFFF;
}

/* Links */

a {
	color: #00759D; text-decoration: none;
}

a:hover {
	color: #444
	text-decoration: none;
}

.content a:hover { 
	border-bottom: dotted #444 1px; 
}

.navbar .brand {
	color: #00759D;
}

.navbar .nav > li > a {
	color: #00759D;
}

/* Posts */

.title {
	margin-bottom: 15px;
}
.post {
	margin-bottom: 40px;
}
.post .body p:last-child {
	margin-bottom: 0;
}
.post:last-child {
	margin-bottom: 0;
}

.archives {
	margin-top: 20px;
}

/* Footer */

footer {
	border-top: dotted #BBB 1px;
	margin-top: 60px;
	padding: 10px 0 10px;
}
footer p {
	float: right;
	font-style: italic;
  font-size: 12px;
  color: #888;
}
footer a {
	border: none;
}

/* Mobile Layout */

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px){
	.container {
		width: 90%;
	}
	.navbar-fixed-top .container,.navbar-fixed-bottom .container {
		width:90%;
	}
	body {
		padding: 40px 0 30px;
	}
	.navbar .brand {
		font-size: 16px;
		padding: 5px;
		margin-left: 0px;
	}
	.navbar .nav > li > a {
		font-size: 12px;
		padding: 5px;
	}
	img {
		width: 80%;
		padding: 5px;
	}
	
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px){
	.container {
		width: 90%;
	}
	.navbar-fixed-top .container,.navbar-fixed-bottom .container {
		width:90%;
	}
	body {
		padding: 40px 0 30px;
	}
	.navbar .brand {
		font-size: 16px;
		padding: 5px;
		margin-left: 0px;
	}
	.navbar .nav > li > a {
		font-size: 12px;
		padding: 5px;
	}
	img {
		width: 90%;
		padding: 5px;
	}
	
}
