<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<link href='http://fonts.googleapis.com/css?family=Merriweather:300,400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/css/main.css">
  
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  <% if @path == 'index' %>
    Scott Weisman
  <% elsif @path.split('/').compact.length == 4 %>
    <%= title %> - Scott Weisman
  <% else %>
    <%= @path.capitalize.gsub(/[-]/, ' ') %> - Scott Weisman
  <% end %>
</title>
<meta name="description"
content="<%= @context[:description] || 'Scott Weisman is a lawyer turned web developer in Chicago' %>" />
</head>
  
<body>
  
  <div id="full-width">
  <header>
    <a class="title" href="/">Scott Weisman</a>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/archives">Archives</a></li>
      </ul>
    </nav>
  </header>
  </div>
  
  <section class="main">
    <%= yield %>
  </section>
  
  <footer>
    <p>Powered by <a href="http://cloudhead.io/toto">toto</a>
  </footer>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12419736-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  
</body>
</html>

