<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans|Merriweather:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>
    <% if @path == 'index' %>
        Scott Weisman
    <% elsif @path.split('/').compact.length == 4 %>
        <%= title %> - Scott Weisman
    <% else %>
        <%= @path.capitalize.gsub(/[-]/, ' ') %> - Scott Weisman
    <% end %>
    </title>
  </head>
  <body>
    <header>
      <span class="title">
        <a href="/">Scott Weisman</a>
      </span>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
      
    <section>
      <%= yield %> 
    </section>
    <footer></footer>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12419736-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
    
  </body>
</html>

